*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.character{
    background-color: black;
    color: white;
    border: 2px  solid black;
}
.character__list{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 20px;
    align-items: center;
}
